*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
form{
    position: absolute;
    top: 20%;
    right: 29%;
    width: 40%;
    padding: 20px;
    background-color: #000;
    opacity: rgba(135, 129, 129, 0.855);
    display: flex;
    align-items: center;
    flex-direction:column;
    border-radius: 30%;
}
.input{
    position: relative;
    border: none;
    margin: 10px;
    text-align: center;
    width: 70%;
    height: 70px;
    border-radius: 40px;
    font-size: 30px;
}
label{
    margin: 10px;
    font-size: 26px;
    color: #fff;
}
.button{
    font-size: 20px;
    margin: 20px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: green;
    transition: ease-in-out 0.2s;
}
.button:hover{
    font-weight: 500;
    background-color: rgb(16, 220, 16);
    transform:scale(1.1)
}